---
# -----
# MIT License
#
# Copyright 2017 Sequencing Analysis Support Core - Leiden University Medical Center
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
# .....
# tasks file for license_changer

- name: Create temporary files directory
  tempfile:
    state: directory
  register: license_changer_temp_dir

- name: transfer the license commenter program
  copy:
    src: license_commenter.py
    dest: "{{license_changer_temp_dir.path}}/license_commenter.py"
    mode: 0755

- name: Create a commented version of the license header.
  command: >
    {{license_changer_temp_dir.path}}/license_commenter.py
    -i {{license_changer_header_file}}
    -o {{license_changer_temp_dir.path}}/commented_license_header.txt
    -p '{{license_changer_header_prefix}}'
    -s '{{license_changer_header_suffix}}'
    {{ license_changer_strip_whitespace | ternary('','--whitespace_strip_off')}}
  args:
    creates: "{{license_changer_temp_dir.path}}/commented_license_header.txt"

- name: Store license header in variable
  command: "cat {{license_changer_temp_dir.path}}/commented_license_header.txt"
  register: license_changer_license_header
  changed_when: false

# The ansible find module is not git aware.
- name: Find all licenseable files in git project dir.
  shell: >
    git ls-files {{license_changer_project_dir}} |
    grep -E '{{license_changer_project_file_regexp}}'
  register: license_changer_project_files
  when: license_changer_git
  # Grep returns 2 when an error occurs. 1 when no matches occur.
  # Does continue now on exit code 1.
  failed_when: license_changer_project_files.rc == 2
  tags:
    # Skip ansible-lint because this is advanced git usage not yet
    # in a module
    - skip_ansible_lint

# TODO implement non-git project
# - name: Find all licenseable files in project dir.
#   when: not license_changer_git

- name: Insert header in project files
  blockinfile:
    backup: no
    block: "{{license_changer_license_header.stdout}}"
    insertbefore: "{{license_changer_header_before}}"
    insertafter: "{{license_changer_header_after | default(omit)}}"
    marker: "{{license_changer_header_marker}}"
    dest: "{{item}}"
    state: present
    marker_begin: "{{license_changer_header_start}}"
    marker_end: "{{license_changer_header_end}}"
  with_items: "{{license_changer_project_files.stdout_lines}}"
  notify: license header not present
